.bodz {
  font-family: "Archivo Black", sans-serif;
  background: #E8B63D;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

.words {
    color: #E8B63D;
    font-size: 0;
    line-height: 1.5;
  }
  
  .words span {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 6rem;
    display: inline-block;
    animation: move 4s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(40%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  

  @media screen and (max-width: 768px) {
    /* Tablet (768px) */
    .bOkLmD {
      width: auto;
      height: auto;
    }

  }
  
  @media screen and (max-width: 500px) {
  
  }
  
